Repository ExcaliburFRC/RapidReact2022, pull requests merged in 2022-02, with the labels that each got.

#29 Advanced Intake
  src/main/java/io/excaliburfrc/robot/Constants.java
  src/main/java/io/excaliburfrc/robot/RobotContainer.java
  src/main/java/io/excaliburfrc/robot/subsystems/Intake.java
  src/test/java/io/excaliburfrc/robot/subsystems/IntakeTest.java
Labels: s: intake

#30 Correct climber hardware
  src/main/java/io/excaliburfrc/robot/Constants.java
  src/main/java/io/excaliburfrc/robot/subsystems/Climber.java
  src/test/java/io/excaliburfrc/robot/subsystems/ClimberTest.java
Labels: s: climber

#31 adding a ShootBallsCommand
  src/main/java/io/excaliburfrc/robot/commands/ShootBallsCommand.java
  src/main/java/io/excaliburfrc/robot/subsystems/Intake.java
  src/main/java/io/excaliburfrc/robot/subsystems/Shooter.java
Labels: s: intake, s: shooter

#26 Trajectory follower
  src/main/java/io/excaliburfrc/robot/Constants.java
  src/main/java/io/excaliburfrc/robot/subsystems/Drive.java
Labels: s: drive

#43 Add RepeatingCommand
  src/main/java/io/excaliburfrc/lib/RepeatingCommand.java
  src/main/java/io/excaliburfrc/robot/commands/ShootBallsCommand.java
  src/test/java/io/excaliburfrc/lib/RepeatingCommandTest.java
Labels: s: shooter

#25 Raise climber to certain height
  src/main/java/io/excaliburfrc/robot/Constants.java
  src/main/java/io/excaliburfrc/robot/subsystems/Climber.java
Labels: s: climber

#44 adding leds to the ShootBallsCommand
  src/main/java/io/excaliburfrc/robot/commands/ShootBallsCommand.java
Labels: d:easy
