Repository ExcaliburFRC/RapidReact2022, pull requests merged in 2022-01, with the labels that each got.

#12 drive mvp
  src/main/java/io/excaliburfrc/robot/Constants.java
  src/main/java/io/excaliburfrc/robot/RobotContainer.java
  src/main/java/io/excaliburfrc/robot/subsystems/Drive.java
Labels: mvp

#8 Intake mvp
  src/main/java/io/excaliburfrc/robot/Constants.java
  src/main/java/io/excaliburfrc/robot/RobotContainer.java
  src/main/java/io/excaliburfrc/robot/subsystems/Intake.java
  vendordeps/Phoenix-frc2022-latest.json
Labels: s: intake

#11 advanced shooter
  src/main/java/io/excaliburfrc/lib/CheckCAN.java
  src/main/java/io/excaliburfrc/robot/Constants.java
  src/main/java/io/excaliburfrc/robot/RobotContainer.java
  src/main/java/io/excaliburfrc/robot/subsystems/Shooter.java
Labels: s: shooter

#9 Climber mvp
  src/main/java/io/excaliburfrc/robot/RobotContainer.java
  src/main/java/io/excaliburfrc/robot/subsystems/Climber.java
Labels: s: climber

#23 drive motor settings
  src/main/java/io/excaliburfrc/robot/subsystems/Drive.java
Labels: s: drive

#22 changing the motor in the intake to SparkMax
  src/main/java/io/excaliburfrc/robot/subsystems/Intake.java
Labels: s: intake
